In [1]:
print("heloo")

heloo

In [2]:
print(1221)

1221

In [3]:
print(123.343)

123.343

In [4]:
print(None)

None

In [5]:
print(True)

True

In [6]:
print([1,2,3,4,])

[1, 2, 3, 4]

In [7]:
print((2123213,123))

(2123213, 123)

In [9]:
print({2112,2,321,312,3})

{2112, 321, 2, 3, 312}

In [10]:
cost=12.34
name="apple"
print(name,cost)

apple 12.34

In [11]:
cost=12.34
name="apple"
print(name,cost,sep="=>")

apple=>12.34

In [12]:
print("It's too hot in hyderabad today. The temperature reached 46 degrees")

It's too hot in hyderabad today. The temperature reached 46 degrees

In [13]:
print("It's too hot in hyderabad today")
print("The temperature reached 46 degrees")

It's too hot in hyderabad today
The temperature reached 46 degrees

In [14]:
print("It's too hot in hyderabad today.\nThe temperature reached 46 degrees")

It's too hot in hyderabad today.
The temperature reached 46 degrees

In [15]:
print("It's too hot in hyderabad today.\tThe temperature reached 46 degrees")

It's too hot in hyderabad today.	The temperature reached 46 degrees

In [16]:
print("It's too hot in hyderabad today.\nThe temperature reached 46 degrees")

It's too hot in hyderabad today.
The temperature reached 46 degrees

In [17]:
print("It's too hot in "hyderabad" today.\nThe temperature reached 46 degrees")

SyntaxError: invalid syntax (<ipython-input-17-d6a24ac711eb>, line 1)

In [18]:
s=10
print("dfasd",s)

dfasd 10

In [19]:
s=10
print("dfasd"s)

SyntaxError: invalid syntax (<ipython-input-19-91c233e00083>, line 2)

In [20]:
print("It's too hot in \"hyderabad\" today.\nThe temperature reached 46 degrees")

It's too hot in "hyderabad" today.
The temperature reached 46 degrees

In [ ]:
print("It's too hot in "hyderabad" today.\nThe temperature reached 46 degrees")

In [21]:
s="ab"
print(len(s))

2

In [22]:
s="\n"
print(len(s))

1

In [23]:
print(10\n20)

SyntaxError: unexpected character after line continuation character (<ipython-input-23-d0bb389c7a1d>, line 1)

In [24]:
print(10,"\n",20)

10
 20

In [25]:
print("10\n20")

10
20

In [26]:
print('It\'s too hot in "hyderabad" today.\nThe temperature reached 46 degrees')

It's too hot in "hyderabad" today.
The temperature reached 46 degrees

In [27]:
print("\n")

In [28]:
print("\\n")

\n

In [29]:
print("\")

SyntaxError: EOL while scanning string literal (<ipython-input-29-dff1232de400>, line 1)

In [30]:
print(")

SyntaxError: EOL while scanning string literal (<ipython-input-30-93263f49d639>, line 1)

In [31]:
print("\\")

\

In [32]:
name="jay"
age=5
weight=18.65

print("the person",name,age,weight,"Are the details")

the person jay 5 18.65 Are the details