In [1]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name
print(s)

The person jayaram

In [2]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name+" is "+age
print(s)

TypeError: can only concatenate str (not "int") to str

In [3]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name+" is "+str(age)
print(s)

The person jayaram is 6

In [4]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+weight
print(s)

TypeError: can only concatenate str (not "float") to str

In [5]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(weight)
print(s)

The person jayaram is 6 years old, he has 18.234562345

In [6]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24 KG weight and 3.53 FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))
print(s)

The person jayaram is 6 years old, he has 18.23

In [7]:
round(23.436546,2)

23.44

In [8]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height

In [9]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
print("The person {name}")

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person {name}

In [10]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
print(f"The person {name}")

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram

In [11]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
print(f"The person {name} is {age} years old, he has {weight}KG and {height}FEET height")

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.234562345KG and 3.52668568FEET height

In [13]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
print(f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height")

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height

In [14]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s",name
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
('The person %s', 'jayaram')

In [15]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s"%name
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram

In [16]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %sKG wight and %sFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.234562345KG wight and 3.52668568FEET height

In [17]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %dKG wight and %dFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18KG wight and 3FEET height

In [18]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %fKG wight and %fFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.234562KG wight and 3.526686FEET height

In [20]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %.2fKG weight and %.2fFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height

In [21]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %.2font weight and %.2fFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23ont weight and 3.53FEET height

In [23]:
name="jayaram"
age=6
weight=18.234562345
height=3.52668568
#"The person jayaram is 6 years old, he has 18.24KG weight and 3.53FEET height"
s="The person "+name+" is "+str(age)+" years old, he has "+str(round(weight,2))+"KG weight and "+str(round(height,2))+"FEET height"
print(s)
#temlate strings
s=f"The person {name} is {age} years old, he has {round(weight,2)}KG weight and {round(height,2)}FEET height"
print(s)
#format specifiers
s="The person %s is %s years old, he has %.2Font weight and %.2FFEET height"%(name,age,weight,height)
print(s)

The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23KG weight and 3.53FEET height
The person jayaram is 6 years old, he has 18.23ont weight and 3.53FEET height

In [24]:
s="わたしは"
print(s)

わたしは

In [25]:
name="わたしは"
print(f"the person name is {name}")

the person name is わたしは

In [26]:
name="sdgds"
print(f"the name is {name}")

the name is sdgds

In [27]:
name="sdgds"
print(f"the name is {{name}}")

the name is {name}

In [28]:
name="sdgds"
print(f"the name is {{name}} {}")

SyntaxError: f-string: empty expression not allowed (<ipython-input-28-acfba04cb745>, line 2)

In [29]:
name="sdgds"
print(f"the name is {{name}} {{}}")

the name is {name} {}

In [30]:
name="Jay"
print("the name is %s"%name)

the name is Jay

In [31]:
name="Jay"
print("the %name is %s"%name)

ValueError: unsupported format character 'n' (0x6e) at index 5

In [32]:
name="Jay"
print("the %%name is %s"%name)

the %name is Jay

In [33]:
name="Jay"
print("the \%name is %s"%name)

ValueError: unsupported format character 'n' (0x6e) at index 6

In [35]:
name="jayaram"
age=6
weight=18.234562345
s="%s,%s,%s"%(name,age,weight)
print(s)

jayaram,6,18.234562345

In [36]:
name="jayaram"
age=6
weight=18.234562345
height=5.6
s="%s,%s,%s"%(name,age,weight,height)
print(s)

TypeError: not all arguments converted during string formatting

In [37]:
name="jayaram"
age=6
weight=18.234562345
height=5.6
s="%s,%s,%s,%s"%(name,age,weight,height)
print(s)

jayaram,6,18.234562345,5.6

In [38]:
name="jayaram"
age=6
weight=18.234562345
height=5.6
s="%s,%s,%s,%s"%(name,age,weight)
print(s)

TypeError: not enough arguments for format string

In [39]:
s="sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n"
print(s)

sfsdfdf
sdfdsfsd
sdfdsf	sdfdsf
sdfdsfds	sdfdsfs

In [40]:
s="sfsdfdf\\nsdfdsfsd\\nsdfdsf\\tsdfdsf\\nsdfdsfds\\tsdfdsfs\\n"
print(s)

sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n

In [41]:
s=r"sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n"
print(s)

sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n

In [42]:
s="sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n"
print("%r"%s)

'sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n'

In [43]:
s="sfsdfdf\nsdfdsfsd\nsdfdsf\tsdfdsf\nsdfdsfds\tsdfdsfs\n"
print("%s"%s)

sfsdfdf
sdfdsfsd
sdfdsf	sdfdsf
sdfdsfds	sdfdsfs

In [44]:
print("%o"%1234)

2322

In [45]:
print("%x"%1234)

4d2

In [46]:
print("%b"%1234)

ValueError: unsupported format character 'b' (0x62) at index 1

In [47]:
n=1234
print(f"{n}")

1234

In [48]:
n=1234
print(f"{n:x}")

4d2

In [49]:
n=1234
print(f"{n:f}")

1234.000000

In [50]:
n=1234
print(f"{n:.2f}")

1234.00

In [51]:
n=1234
print(f"{n:o}")

2322

In [52]:
n=1234
print(f"{n:b}")

10011010010

In [53]:
s="%s"%bin(1234)
print(s)

0b10011010010